* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Reem Kufi", sans-serif !important;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  min-height: 100vh;
  width: 85vw;
  max-width: 1900px;
  margin: 0rem auto;
}
body {
  overflow-x: hidden;
  background: #000;
  font-family: "Noto Sans", sans-serif;
}
.d1 {
  width: 20px;
}

.container {
  display: grid;

  grid-template-columns: repeat(1, 0fr);

  height: 43rem;

  place-content: center;
  width: auto;
}
.videoTag {
  z-index: -1;
}

.weather_app {
  width: 23rem;
  height: 30rem;
  background: linear-gradient(45deg, #008eff 0%, #a5a5a5 100%);
  border-radius: 12px;
}

input {
  outline: none;
  background: #fdfdfd;
  width: 16rem;
  height: 52px;
  border-radius: 28px;
  color: #3f3939;
  padding: 10px;
  border: none;
  font-size: 20px;
}

.input_1 {
  margin: 27px;
}
.img8 {
  position: relative;
  left: 9px;
  top: 18px;
  width: 52px;
  height: 52px;
  background: #fff;
  border-radius: 41px;
  padding: 14px;
  cursor: pointer;
  color: #7d6f6f;
}
.t11 {
  display: none;
}
.img_1 {
  position: relative;
  /* width: 8rem; */
  transform: translate(97px, 5px);
  height: 117px;
}
h1 {
  align-items: center;
  display: flex;
  justify-content: space-around;
  color: #fdfdfd;
  font-size: 45px;
  margin-top: 14px;
}
form {
}
#places {
}
h2 {
  align-items: center;
  display: flex;
  color: #fdfdfd;
  font-size: 29px;
  justify-content: space-around;
  margin-top: 2px;
}
h4 {
  align-items: center;
  display: flex;
  color: #fdfdfd;
  font-size: 24px;
  justify-content: space-around;
  margin-top: 29px;
  letter-spacing: 3px;
}
.date {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.humidity {
  display: flex;
  flex-direction: column;
  margin: -36px 50px;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0px;
  font-size: 14px;
}
.img4 {
  margin-top: 26px;
  width: 31px;
}
.img7 {
  margin-left: 179px;
  margin-top: -8px;
  width: 33px;
}

.wind {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  line-height: 23px;
  letter-spacing: 0px;
  font-size: 14px;
  float: right;
  margin-right: -10px;
  margin-top: -10px;
}
.h3_1 {
  font-size: 23px;
}
.h3_2 {
  font-size: 21px;
}
button {
  background: transparent;
  border: none;
}
.img_22 {
  width: 8rem;
  transform: translate(45px, 2px);
}
@media (max-width: 400px) {
  body {
    overflow: hidden;
  }
  .container {
    display: grid;
    margin: -1rem auto;
  }
}
